<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MaterailM Free Bootstrap Admin Template by WrapPixel</title>
    <link rel="shortcut icon" type="image/png" href="~/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/assets/plugins/keithwood_calendarpick/jquery.calendars.picker.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    @RenderSection("Header", required: false)
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">

        @{
            Html.RenderPartial("_LeftNavBar");
        }
    
        <div class="body-wrapper">
            
            @{
                Html.RenderPartial("_Header");
            }
            
            <div class="body-wrapper-inner">
                <div class="container-fluid">
                    @RenderBody();
                </div>
            </div>
        </div>
    </div>


    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/assets/plugins/keithwood_calendarpick/jquery.plugin.js"></script>
    <script src="~/assets/plugins/keithwood_calendarpick/jquery.calendars.js"></script>
    <script src="~/assets/plugins/keithwood_calendarpick/jquery.calendars.plus.js"></script>
    <script src="~/assets/plugins/keithwood_calendarpick/jquery.calendars.picker.js"></script>
    <script src="~/assets/plugins/keithwood_calendarpick/jquery.calendars.picker.ext.js"></script>
    <script src="~/assets/plugins/keithwood_calendarpick/jquery.calendars.nepali.js"></script>
    <script src="~/assets/plugins/keithwood_calendarpick/jquery.calendars.nepali-ne.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/blockui.js"></script>
    <script src="~/assets/js/sidebarmenu.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $('.nepdate-picker').calendarsPicker({
            dateFormat: 'yyyy-mm-dd',
            calendar: $.calendars.instance('nepali', "ne"),
            onSelect: function () {
                $(this).trigger('change');
            }
        });
    </script>

    @RenderSection("LocalScripts", required: false)
</body>

</html>